:root {
	--purple: #9D08B2;
	--purple_2: #ED6FFF;
	--purple_3: #E216FF;
	--green_1: #5AB200;
	--green_2: #8CFF16;
	--background: #242424;

	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
}
